h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

body {
  color: var(--slate, #434455);
  background-color: var(--write, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
:root {
  --write-color: #ffffff;
  --iris-color: #4d5ae5;
  --navyblue-color: #2e2f42;
  --slate-color: #434455;
  --cloud-color: #f4f4fd;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --ocean: #404bbf;
}
.menu {
  color: var(--navyblue-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* body */

.header-link {
  box-shadow: 0 1px 6px 0
      rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);

  border-bottom: 1px solid
    var(--CORNFLOWER, #e7e9fc);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 453px;
}

.header-navigation-logo {
  color: var(--iris-color);
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
}

.link {
  text-decoration: none;
}

.header-navigation-accent {
  color: var(--navyblue-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-item::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: var(--ocean);

  display: block;
  bottom: -1px;
}

.list {
  list-style-type: none;
}

.header-menu-item {
  position: relative;
  color: var(--ocean);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-item:hover {
  color: var(--ocean);
}
.header-menu-item:focus {
  color: var(--ocean);
}

.address-contacts-links {
  margin-left: auto;
  font-style: normal;
}

.contacts {
  display: flex;
  column-gap: 40px;
  margin-left: auto;
  gap: 40px;
}

.contacts-social {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 0;
  margin-right: 40px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
}

.contacts-social:hover {
  color: #404bbf;
}

.contacts-social:focus {
  color: #404bbf;
}

/* Section 1*/

.section {
  min-width: 1440px;
  max-width: 1440px;

  padding-top: 120px;
  padding-bottom: 120px;
}

.title-text {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-solutions-title {
  color: var(--write-color);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 48px;
}

.section-button-order {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--write-color);
  background: var(--iris-color);
  cursor: pointer;
  border: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
}

.section-button-order:hover {
  background-color: #404bbf;
}

.section-button-order:focus {
  background-color: #404bbf;
}

/* Section 2 */

.section-scroll-activity {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature {
  display: flex;
  gap: 24px;
}

.feature-activity-strategy {
  width: calc((100% – 72px) / 4);
}

.scroll-activity-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-slate);
  background-color: var(--cloud-color);
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.feature-list {
  color: var(--navyblue-color);
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}

.description-scroll-activity {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 */

.section-our-team {
  background-color: var(--cloud-color);
}

.title-section-team {
  color: var(--navyblue-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team {
  display: flex;
  gap: 24px;
}

.our-team-experts {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0
      rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
}
.our-team-experts:hover {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 4px 4px 0
    rgba(0, 0, 0, 0.25);
  background: var(--cloud);
}

.our-team-employees {
  padding: 32px 0;
  background: var(--write-color);
}

.persone-our-team {
  color: var(--navyblue-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}

.activity {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.job {
  text-align: center;
}

.social-media {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--iris-color);
  background-color: var(--iris-color);
  border-radius: 50%;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-item {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
}
.social-media-item:hover,
.social-media-item:focus {
  background-color: var(--ocean);
}
.social-media-icon {
  fill: var(--cloud-color);
}

/* Section 4 */

.services-our-portfolio {
  color: var(--navyblue-color);
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.social-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.activity-item {
  background: var(--white, #fff);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
}

.activity-item:hover {
  box-shadow: 0 2px 1px 0
      rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-inform:hover .our-portfolio-overlay,
.portfolio-inform:focus {
  transform: translateY(0%);
}

.img-portfolio {
  border-bottom: #fff;
}
.item-our-portfolio {
  position: relative;
  overflow: hidden;
}
.our-portfolio-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  background-color: var(--iris-color);
  padding: 40px 32px 164px 32px;
  transform: translateY(100%);
  transition-property: transform,
    background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(
    0.4,
    0,
    0.2,
    1
  );
}
.container-section {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.departments {
  color: var(--navyblue-color);
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 8px;
}

/* footer */

.footer-business-marketing {
  background-color: var(
    --navyblue-color
  );
  padding: 100px 0;
}
.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  width: 264px;
  height: 112px;
  margin-right: 120px;
}

.header-navigation-accent-studio {
  color: var(--cloud-color);
}

.footer {
  margin-bottom: 16px;
}

.marketing {
  color: var(--cloud-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social-media {
  margin-left: 120px;
}

.footer-social-media-text {
  color: var(--write-color);
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.footer-social-media-list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.social-media-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--iris-color);
  background-color: var(--iris-color);
  border-radius: 50%;
  transition-property: border-color,
    background-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer:hover {
  background-color: var(--green);
  border-color: var(--green);
}

.footer-social-media-item{
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
}

.footer-social-media-item:hover{
  background-color: var(--green);
}

.footer-social-media-item:focus{
  background-color: var(--green);
}

.footer-social-icon{
  fill: var(--cloud-color);
}